$color-accent: #000000;
$color-primary: #000000;
$color-secondary: #000000;
$color-foreground: #000000;
$color-background: #000000;

$shadow-normal: 2px 5px 8.6px #0000001d;
$shadow-intense: 2px 5px 25px #0000006d;

$font-main-normal: "SF-Pro";
$font-main-rounded: "SF-Pro-Rounded";

$transition-normal: all ease 0.15s;

$media-mobile-width-breakpoint: 375px;
