$color-accent: #3477f6;
$color-primary: #151418;
$color-secondary: #636363;
$color-foreground: #ffffff;
$color-background: #ffffff;

$shadow-normal: 2px 5px 8.6px #0000001d;
$shadow-intense: 2px 5px 25px #0000006d;

$font-main-normal: "SF-Pro";
$font-main-rounded: "SF-Pro-Rounded";

$transition-normal: all ease 0.15s;

$media-mobile-width-breakpoint: 375px;
