* {
	-webkit-touch-callout: none; // Disable iOS Safari on-long-press link pop-out
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

*:focus-visible {
	outline: none; // Disable User Agent on-focus outline
}

body {
	background-color: $color-background;
	color: $color-primary;
	font-family: $font-main-normal;
}

.common-link {
	color: $color-accent;
	text-decoration: none;
}

.common-button {
	border: none;
	border-radius: 24px;
	background-color: $color-accent;
	padding: 24px 32px;
	color: $color-foreground;
	font-weight: 700;
	font-size: 24px;
	font-family: $font-main-rounded;
}

.common-text-input {
	transition: $transition-normal;
	border: none;
	border-bottom: $color-secondary solid 2px;
	border-radius: 0;
	padding: 6px 6px;
	padding-top: 12px;
	width: 100%;
	font-size: 16px;
	font-family: $font-main-normal;

	&::placeholder {
		color: $color-secondary;
	}

	&:focus {
		background-color: $color-tertiary;
		&::placeholder {
			opacity: 0;
		}
	}
}

.common-checkbox-input {
	transform: scale(1.33);
	padding: 0;
}
