* {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

body {
	background-color: $color-background;
	color: $color-primary;
	font-family: $font-main-normal;
}

.common-link {
	color: $color-accent;
	text-decoration: none;
}
