@font-face {
	font-style: normal;
	src: url("/assets/fonts/SF-Pro.ttf") format("truetype");
	font-family: "SF-Pro";
}

@font-face {
	font-style: italic;
	src: url("/assets/fonts/SF-Pro-Italic.ttf") format("truetype");
	font-family: "SF-Pro";
}

@font-face {
	font-weight: 100;
	src: url("/assets/fonts/SF-Pro-Rounded-Ultralight.otf") format("opentype");
	font-family: "SF-Pro-Rounded";
}

@font-face {
	font-weight: 200;
	src: url("/assets/fonts/SF-Pro-Rounded-Thin.otf") format("opentype");
	font-family: "SF-Pro-Rounded";
}

@font-face {
	font-weight: 300;
	src: url("/assets/fonts/SF-Pro-Rounded-Light.otf") format("opentype");
	font-family: "SF-Pro-Rounded";
}

@font-face {
	font-weight: 400;
	src: url("/assets/fonts/SF-Pro-Rounded-Regular.otf") format("opentype");
	font-family: "SF-Pro-Rounded";
}

@font-face {
	font-weight: 500;
	src: url("/assets/fonts/SF-Pro-Rounded-Medium.otf") format("opentype");
	font-family: "SF-Pro-Rounded";
}

@font-face {
	font-weight: 600;
	src: url("/assets/fonts/SF-Pro-Rounded-Semibold.otf") format("opentype");
	font-family: "SF-Pro-Rounded";
}

@font-face {
	font-weight: 700;
	src: url("/assets/fonts/SF-Pro-Rounded-Bold.otf") format("opentype");
	font-family: "SF-Pro-Rounded";
}

@font-face {
	font-weight: 800;
	src: url("/assets/fonts/SF-Pro-Rounded-Heavy.otf") format("opentype");
	font-family: "SF-Pro-Rounded";
}

@font-face {
	font-weight: 900;
	src: url("/assets/fonts/SF-Pro-Rounded-Black.otf") format("opentype");
	font-family: "SF-Pro-Rounded";
}
